
li{
  margin: 10px;
  font-weight: bold;
}

#icons1,#icons2 {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

#icons1 i {
  font-size: 24px;
  margin-bottom: 10px;
}

#logo{
border-radius: 20px;
width: 130px;
float: left;
display: block;
margin-right: auto;
}
#bg1{
  background-size: cover;
}
#Header{
  background-color: #ECEDF1;
  height: 50%;
}
#hi {
  position: relative;
}

.body {
  position: relative;
}

.background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.intro {
  margin-top: 40vh;
  width: 50%;
  margin-left: 5%;
  font-size: 30px;
  font-weight: bold;
  
  position: absolute;
  top: 0;
  left: 0;
}

.profile-container {
  margin-top: 24vh;
  margin-right: 23%;
  height: 200px;
  width: 20%;
  position: absolute;
  top: 0;
  right: 0;
}
.formfield{
  margin-top: 5vh;
  margin-right: 5%;
  height: 200px;
  width: 35%;
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
}
.aboutneed,.emailfield{
  width: 97%;
}
.names input{
  width: 45%;
  padding: 5px;
  background-color: #f7f7f7;
  margin-right: 2px;
  justify-content: center;
  text-align: center;
  display: flex;
  border-radius: 10px;
}
.form{
  margin-top: 20px;
}
button.submit{
  margin-left: 30%;
  background-color: #6010F4;
  border-radius: 40px;
}
.formfield h2{
  font-size: 18px;
  font-weight: bold;
}
.contacth1{
  font-size: 35px;
  font-weight: bold;
}

.img {
  height: 270px;
  border-radius: 50%;
  animation: blob 5s ease infinite;
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.fa-brands{
  margin: 5px;
}
.Cont {
  padding: 8px;
  margin-top: 5px;
  height: 10%;
  display: flex;
  background-color: #f7f7f7;
  margin-top: auto;
  justify-content: flex-end;
}
#icons,#icons1,#icons2{
  border-radius: 30px;
  background-color: #f7f7f7;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#icons h1{
  font-size: 30px;
  height: 60%;
  font-weight: bold;
}